.header-image-row {
  position: relative;
  background-image: url('/public/images/bending2.jpg'); /* Update with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  width: 100%;
}

.header-image-row::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Overlay is below the text but above the background */
}

.header-image-row > * {
  position: relative;
  z-index: 2; /* This ensures that all child elements are above the overlay */
}

.navbar {
  background-color: #181818;
}

.footer {
  background-color: #181818;
  color: #DDDDDD;
}

.background {
  background-color: #1F1F1F;
}

h4 {
  color: #39ace7;
}

p, ul, li {
  color: #DDDDDD;
}

.nav-link:hover, .nav-dropdown:hover {
  color: #ccc !important; /* Lighter grey on hover for better visibility */
}
